body{
	margin: 0px;
	display: flex;
	flex-direction: column;
	background: #A8AA8C;
}

#loading{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	height: 100vh;
}

#background{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url(./images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	z-index: -1;
}

#main{
	display: none;
	width: 55%;
	margin: 0% 10% 0% 35%;
	color: #090401;
	font-size: 20px;
	font-family: Garamond, serif;
	text-align: justify;
	text-justift: inter-word;
}

#main .section{
	width: 100%;
	margin: 5% 0%;
}

#main .section .logo-l{
	display: flex;
	justify-content: center;
}

#main .section .logo-l img{
	width: 50%;
	margin: 0% 0% 10% 0%;
}

#main .section .logo-s{
	display: flex;
	justify-content: center;
}

#main .section .logo-s img{
	width: 20%;
	margin: 10% 0% 2% 0%;
}

#main .section ol li, #main .section ul li{
	margin: 5px 0px;
}

#main .section a{
	color: inherit;
}

#main .section #location{
	text-align: center;
}

#main .section #location .grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto;
	align-content: start;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}

#main .section #location .grid .column1-p1{
	text-align: justify;
	justify-content: inter-word;
	grid-area: 1 / 1 / 2 / 2;
}
#main .section #location .grid .column1-p2{
	text-align: justify;
	justify-content: inter-word;
	grid-area: 2 / 1 / 3 / 2;
}
#main .section #location .grid .column2{
	grid-area: 1 / 2 / 3 / 3;
}
#main .section #location .grid .column3{
	grid-area: 1 / 3 / 3 / 4;
}

#main .section #location .grid .column2 img, #main .section #location .grid .column3 img{
	width:100%;
}

@media only screen and (max-width: 1750px) {
	
	#main .section #location .grid .column2{
		display: inline-block;
		align-self: flex-end;
	}
}

@media only screen and (max-width: 1150px) {
	
	#main .section #location .grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	}

	#main .section #location .grid .column1-p1{
		text-align: justify;
		justify-content: inter-word;
		grid-area: 1 / 1 / 2 / 2;
	}
	#main .section #location .grid .column1-p2{
		text-align: justify;
		justify-content: inter-word;
		grid-area: 2 / 2 / 3 / 3;
	}
	#main .section #location .grid .column2{
		grid-area: 1 / 2 / 2 / 3;
	}
	#main .section #location .grid .column3{
		grid-area: 2 / 1 / 3 / 2;
	}

	#main .section #location .grid .column2 img, #main .section #location .grid .column3 img{
		width:100%;
	}
}


@media only screen and (max-width: 750px) {
	
	#main{
	width: 80%;
	margin: 0% 10%;
	color: #090401;
	font-size: 20px;
	font-family: Garamond, serif;
	text-align: justify;
	text-justift: inter-word;
	}
}

@media only screen and (max-width: 500px) {
	
	#main{
	width: 90%;
	margin: 0% 5%;
	color: #090401;
	font-size: 20px;
	font-family: Garamond, serif;
	text-align: justify;
	text-justift: inter-word;
	}
}