body{
	color: #2A4727;
	background: #F7F4ED;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image_pc{
	display: block;
	width: 82%;
}

.image_phone{
	display: none;
}

.footer {
	width: 82%;
	height: 60px;
	background: #EEE4DA;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.footer a:link {
	color: inherit;
}

.footer a:visited {
	color: inherit;
}

@media only screen and (max-width: 600px) {
	
	.image_phone{
		display: block;
		width: 100%;
	}
	.image_pc{
		display: none;
	}
	.footer{
		width: 100%;
	}
}